/* Color Theme Swatches in Hex */
.Henry-Tran---Streampack-1-hex { color: #F2A0B6; }
.Henry-Tran---Streampack-2-hex { color: #F272A1; }
.Henry-Tran---Streampack-3-hex { color: #056CF2; }
.Henry-Tran---Streampack-4-hex { color: #F2EB80; }
.Henry-Tran---Streampack-5-hex { color: #F2D98D; }
